@font-face {
  font-family: Grobold;
  src: url(fonts/grobold/GROBOLD.ttf) format('truetype');
}

@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Delicious-Handrawn;
  src: url(fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Bree-Serif;
  src: url(fonts/Bree_Serif/BreeSerif-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --github-black: #0D1117;
  --background-yellow-light: #F5E7A6;
  --background-yellow-dark: #f7cc3e;
  --logo-red: #C74040;
}

#content {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  background-image: url(images/platter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1;
}

/* Header */

header {
  display: flex;
  background-color: var(--background-yellow-light);
  padding-inline: 15%;
  justify-content: space-between;
}

.logo {
  width: 200px;
  cursor: pointer;
  padding-block: 15px;
}

header > nav {
  display: flex;
}

header > nav > ul {
  display: flex;
  gap: 20px;
  align-items: center;
}

header > nav > ul > li {
  list-style: none;
}

.nav-link {
  cursor: pointer;
  font-family: Grobold, sans-serif;
  color: var(--logo-red);
  font-size: 22px;
  -webkit-text-stroke: 0.9px white;
  text-shadow: -2.5px 2.5px 0 black;
  padding-inline: 20px;
}

li.selected {
  color: white;
  -webkit-text-stroke: 0.9px var(--logo-red);
}

/* Main */

.background-main {
  top: 0px;
  z-index: -1;
  width: 100vw;
  max-height: 100vh;
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
}

.container-intro {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: max(550px, 40vw);
  padding: 70px 50px;
  margin-top: 90vh;
  margin-block: 90vh 15vh;
}

.container-intro > blockquote {
  font-family: Oswald, sans-serif;
  font-size: 38px;
  color: orange;
}

.container-intro > figcaption {
  align-self: end;
  font-family: Delicious-Handrawn, cursive;
  font-size: 25px;
  color: grey;
}

.container-intro > span {
  margin-top: 70px;
  font-family: Bree-Serif, serif;
  font-size: 22px;
  text-align: justify;
  color: var(--background-yellow-dark);
}

/* Menu */

.menu {
  display: flex;
  justify-content: center;
}

.container-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: max(500px, 70vw);
  padding: 70px 50px;
  margin-block: 50px;
  gap: 50px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-group > h1 {
  font-family: Oswald, sans-serif;
  font-size: 35px;
  color: orange;
  letter-spacing: 1px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr) );
  gap: 30px 60px;
}

.menu-list > li {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu-list > li > img {
  height: 150px;
  align-self: center;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-text > h2 {
  font-family: Oswald, sans-serif;
  font-size: 22px;
  color: var(--logo-red);
}

.item-text > p {
  font-family: Bree-Serif, serif;
  font-size: 18px;
  color: rgb(120, 120, 120);
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
}

.container-contact {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px 50px;
  margin-block: 50px;
  gap: 45px;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening > h1 {
  font-family: Oswald, sans-serif;
  font-size: 45px;
  color: orange;
  letter-spacing: 1.2px;
}

hr {
  border-top: 3px solid orange;
  width: 70%;
  margin-block: 15px;
}

.container-opening {
  display: flex;
  gap: 15px;
}

.container-opening > span {
  font-family: Delicious-Handrawn, cursive;
  font-size: 30px;
  color: rgb(120, 120, 120);
}

span.time {
  color: var(--logo-red);
  font-size: 35px;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.container-info {
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
  align-content: center;
  gap: 10px;
}

.container-info > img {
  height: 30px;
}

.container-info > span {
  font-family: Bree-Serif, serif;
  font-size: 18px;
  color: orange;
}

iframe {
  border: none;
  width: 450px;
  height: 300px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: var(--github-black);
  padding: 12px 40px;
}

.made-by {
  font-size: 12px;
  font-family: cursive;
  color: white;
  margin: 0 auto;
}

.github-icon {
  height: 25px;
}