@font-face {
  font-family: Grobold;
  src: url(fonts/grobold/GROBOLD.ttf) format('truetype');
}

@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Delicious-Handrawn;
  src: url(fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Bree-Serif;
  src: url(fonts/Bree_Serif/BreeSerif-Regular.ttf) format('truetype');
}

@keyframes shake {
  0% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --github-black: #0D1117;
  --background-yellow-light: #F5E7A6;
  --background-yellow-dark: #f7cc3e;
  --logo-red: #C74040;
}

#content {
  display: inline-flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  background-image: url(images/platter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1;
}

/* Header */

header {
  display: flex;
  background-color: var(--background-yellow-light);
  justify-content: center;
  gap: 25%;
  padding: 15px 50px;
}

.header-link {
  cursor: pointer;
}

#logo {
  width: 200px;
  cursor: pointer;
}

header > nav {
  display: flex;
}

header > nav > ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

header > nav > ul > li {
  list-style: none;
  font-family: Grobold, sans-serif;
  color: var(--logo-red);
  font-size: 2.2rem;
  -webkit-text-stroke: 0.9px white;
  text-shadow: -2.5px 2.5px 0 black;
}

header > nav > ul > li:hover {
  scale: 1.1;
  transform: rotate(8deg);
  animation: shake 0.5s steps(2, jump-none);
}

.selected {
  color: white;
  -webkit-text-stroke: 0.9px var(--logo-red);
}

/* Intro */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-intro {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45%;
  min-width: 450px;
  padding: 70px 55px;
  margin: 50px 0;
}

.container-intro > blockquote {
  font-family: Oswald, sans-serif;
  font-size: 4rem;
  color: orange;
}

.container-intro > figcaption {
  align-self: end;
  font-family: Delicious-Handrawn, cursive;
  font-size: 2.5rem;
  color: grey;
  margin: 15px 15px 0 0;
}

.container-intro > span {
  margin-top: 70px;
  font-family: Bree-Serif, serif;
  font-size: 2.2rem;
  text-align: justify;
  color: var(--background-yellow-dark);
}

/* Menu */

.menu {
  display: flex;
  justify-content: center;
}

.container-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70vw;
  min-width: 450px;
  padding: 70px 50px;
  margin-block: 50px;
  gap: 50px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-group > h1 {
  font-family: Oswald, sans-serif;
  font-size: 3.5rem;
  color: orange;
  letter-spacing: 1px;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
  gap: 30px 60px;
}

.menu-list > li {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu-list > li > img {
  height: 150px;
  align-self: center;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-text > h2 {
  font-family: Oswald, sans-serif;
  font-size: 2.2rem;
  color: var(--logo-red);
}

.item-text > p {
  font-family: Bree-Serif, serif;
  font-size: 1.8rem;
  color: rgb(120, 120, 120);
}

/* Contact */

.contact {
  display: flex;
  justify-content: center;
}

.container-contact {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 50px 50px;
  margin-block: 50px;
  gap: 45px;
}

.opening {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opening > h1 {
  font-family: Oswald, sans-serif;
  font-size: 4.5rem;
  color: orange;
  letter-spacing: 1.2px;
}

hr {
  border-top: 3px solid orange;
  width: 75%;
  margin-block: 15px;
}

.container-opening {
  display: flex;
  gap: 40px;
}

.container-opening > * {
  display: flex;
  gap: 20px;
}

.container-opening span {
  font-family: Delicious-Handrawn, cursive;
  font-size: 3rem;
  color: rgb(120, 120, 120);
}

span.time {
  color: var(--logo-red);
  font-size: 3.5rem;
}

.info {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.container-info {
  display: grid;
  grid-template: repeat(3, auto) / repeat(2, auto);
  align-content: center;
  gap: 10px;
}

.container-info > img {
  height: 30px;
}

.container-info > span {
  font-family: Bree-Serif, serif;
  font-size: 1.8rem;
  color: orange;
}

iframe {
  border: none;
  width: 450px;
  height: 300px;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  background-color: var(--github-black);
  padding: 12px 40px;
}

.made-by {
  font-size: 12px;
  font-family: cursive;
  color: white;
  margin: 0 auto;
}

.github-icon {
  height: 25px;
}

@media (max-width: 992px) {
  html {
    font-size: 67.5%;
  }

  header {
    gap: 9%;
  }

  .container-intro {
    width: 70%;
  }

  .container-opening {
    flex-direction: column;
    gap: 10px;
  }

  .info {
    flex-direction: column;
  }

  .container-info {
    column-gap: 25px;
  }

  .container-info > img {
    justify-self: flex-end;
  }

  iframe {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 72.5%;
  }

  header {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  header > nav {
    width: 100%;
  }

  header > nav > ul {
    width: 100%;
    justify-content: space-between;
  }

  .container-intro, .container-menu, .container-contact {
    width: 100%;
  }
}